/*
 * @Descripttion: elementUI主题可变参数更改
 * @Author: HuiSir<q273250950>
 * @Date: 2020-01-10 15:05:30
 * @LastEditors: Please set LastEditors
 */
 
 /* primary主题色 */
 $--color-primary: #409EFF !default;
 
 /* iconfont路径, 这里必须申明 */
 $--font-path: '~element-ui/lib/theme-chalk/fonts';
 
 @import "~element-ui/packages/theme-chalk/src/index"; 

//变量
 $menu-bg: #212528;
 $boder-color: #999;
 //抽屉
.el-drawer__wrapper {
    width: 280px;
    height: calc(100% - 50px);
    top: 50px;
    left: calc(100% - 280px);
    .el-drawer {
        width: 100% !important;
        background-color:  $menu-bg;
        border-top: 1px solid $boder-color;
        border-left: 1px solid $boder-color;
    }
}

//折叠面板
$font-color: #fff;
$font-color2:#cde4fd;
.el-collapse {
    border-top: 1px solid $boder-color;
    border-bottom: 1px solid $boder-color;
}
.el-collapse-item__header {
    height: 40px;
    line-height: 40px;
    background-color: $menu-bg;
    color: $font-color2;
    font-size: 14px;
    border-bottom: 1px solid $boder-color;
    padding: 0 2px 0 15px;
}
.el-collapse-item__wrap {
    background-color: $menu-bg;
    border-bottom: 1px solid $boder-color;
}
.el-collapse-item__content {
    padding: 15px;
    border-top: 1px dashed #383e44;
    color: $font-color;
    font-size: 12px;
    font-weight: 400;
}